@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 24, 24, 27;
  --background-rgb: 255, 255, 255;
  --toast-bg: #ffffff;
  --toast-color: #18181b;
  --scrollbar-track: #F4F4F5;
  --scrollbar-thumb: #A1A1AA;
}

.dark {
  --foreground-rgb: 244, 244, 245;
  --background-rgb: 39, 39, 42;
  --toast-bg: #27272a;
  --toast-color: #fafafa;
  --scrollbar-track: #3F3F46;
  --scrollbar-thumb: #71717A;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.products-container {
  height: calc(100vh - 6.5rem);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  padding: 0.5rem;
  -webkit-overflow-scrolling: touch;
}

.products-container::-webkit-scrollbar {
  width: 4px;
}

.products-container::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 2px;
}

.products-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 2px;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 2px;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.product-image-container {
  aspect-ratio: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.25rem 0.25rem 0 0;
}

.transform-gpu {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}